<ng-container *ngIf="listItems$ | async as listItems; else loadingRef">
  <p-table
    #dt
    [value]="listItems"
    [paginator]="true"
    [rows]="20"
    [rowsPerPageOptions]="[10, 20, 50, 100]"
    [showCurrentPageReport]="true"
    (sortFunction)="customSort($event)"
    [customSort]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    styleClass="ui-table-items"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="url" style="width: 10%;">ID <p-sortIcon field="url"></p-sortIcon></th>
        <th pSortableColumn="name">
          Name
          <p-sortIcon field="name"></p-sortIcon>
        </th>
      </tr>
      <tr>
        <th></th>
        <th>
          <input
            pInputText
            type="text"
            placeholder="Search by Name"
            class="ui-column-filter"
            (input)="dt.filter($event.target.value, 'name', 'contains')"
          />
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
      <tr>
        <td>{{ rowData.url | listItemId }}</td>
        <td>
          <a [routerLink]="[rowData.url | listItemId]">{{
            (rowData.name | titlecase) || (rowData.url | listItemId)
          }}</a>
        </td>
      </tr>
    </ng-template></p-table
  >
</ng-container>
<ng-template #loadingRef>
  <p-progressSpinner></p-progressSpinner>
</ng-template>
